@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


/* blue: #0b192f */
/* lime: #6bd3c9 */
/* grey: #8994b0 */
/* white: #c8d6ef */


.bg-blue {background-color: #0b192f !important;}
.bg-grey {background-color: #8994b0 !important; box-shadow: none;}
.border-lime {border: #6bd3c9 solid 1px !important;}
.bg-light {background-color: #c8d6ef;}

.text-lime {color: #6bd3c9 !important;}
.text-grey {color: #8994b0 !important;}
.text-light {color: #c8d6ef !important;}
.text-blue {color: #0b192f !important;}

.pos-item{align-items: center;}

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: linear-gradient(#009FFF, #ec2F4B); */
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #007bff;
  /* color: var(--primary-color); */
}
a:hover {
  color: #6bd3c9;
}

body {
  font-family: var(--font-family);
  /* background: linear-gradient(90deg, rgb(20, 9, 233) 0%, rgb(1, 1, 247) 35%, rgba(0,212,255,1) 100%); */

}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  /* background-color: var(--bg-color); */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  /* color: var(--primary-color); */
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  height: 100%;
  margin: 3rem;
}

.hero-img {
  border-radius: 50%;
  width: 18rem;
  background-color: #c8d6ef;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  text-size-adjust: 6;
  text-indent: 10px;
  /* background-color: rgb(8, 172, 226); */
  /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
  height: 50%;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0;
  font-size: 18px; 
}
/* Hero section ends */

/* More about */
.more-about {
  /* background-color: var(--bg-color); */
  padding: 1rem;
  /* border-top: 1px solid #6bd3c9; */
  color: #6bd3c9;
  /* border-bottom: 1px solid #6bd3c9; */
  text-align: center;
  background-color: #b8b8b805;
  /* background: linear-gradient(90deg, rgb(123, 196, 190) 10%, rgb(14, 243, 186) 35%, rgba(0,212,255,1) 100%); */
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  /* padding: 0.4rem; */
}
/* More about ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  /* background-color: var(--bg-color); */
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 100%;
  height: 50%;
}

.projects-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-card p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
  color: #6bd3c9;
}

.project-details {
  color: #c8d6ef;
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px #6bd3c9;
  /* background-color: white; */
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  /* background-color: #fff; */
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  /* background-color: #fff; */
  border: 1px #6bd3c9 solid;
  border-radius: 2px;
  /* box-shadow: 0 3px 10px var(--secondary-shadow); */
  padding: 20px;
  margin: 10px;
}
.shadow-hover {
  box-shadow: 5px 5px 0px 0px #6bd3c9;
  transition: 0.5s;
}
.shadow-hover:hover {
  box-shadow: 10px 10px 0px 0px #6bd3c9;
}

.project-card {
  /* background-color: linear-gradient(#009FFF, #ec2F4B); */
  border-radius: 2px;
  box-shadow: 5px 5px 0px 0px #6bd3c9;
  border: 1px solid #6bd3c9;
  margin: 10px;
  padding: 1.5rem;
  height: 20rem;
  width: 20rem;
  margin: 1.5rem;
  transition: 0.5s;
}
.project-card:hover {
  box-shadow: 10px 10px 0px 0px #6bd3c9;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    /* background-color: var(--bg-color); */
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero img {
    /* height: 37.5rem;
    width: 30rem; */
  }

  .bio {
    margin-top: 0px;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;

  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

.about-pos {
  width: 60%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
  color: #fcfcfc;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .grid-container{
    display: flex;
    flex-direction: column;
    text-align:center;
  }
}
